*.dep
*.deps
*.orig
*.rej
*.pc
*.lo
*.d
*.o
*.o.cmd
*.la
*.a
*.a.cmd
.libs
.depend
.dirstamp
.config
autom4te.cache
configure~
config.h.in~
config.log
config.status
config_done
stamp-h1

/.ccache
/build
/download
/romfs
/images
/stage
/tmp

# Source trees unpacked from versioned archives during package builds.
/user/dogcom/dogcom-*/
/user/minieap/minieap-*/
/user/njit-client/njit8021xclient-*/
/user/openssh/openssh-*/
/user/vlmcsd/vlmcsd-*/
/user/wireguard-tools/wireguard-tools-*/

# Package binaries that are built in the source tree.
/user/xupnpd/src/xupnpd
